/* General */
/* ------------------------------------------------------------------------------------------ */
:root {
  --primary-color: #00FFD9;
  --main-bg: rgb(32,39,41);
}

body {
  font-family: 'Black Han Sans', sans-serif;
}

p {
  color: #000;
}
/* ------------------------------------------------------------------------------------------ */


/* Header */
/* ------------------------------------------------------------------------------------------ */
#header {
  background-color: rgba(0,0,0,0.7);
  border: 2px solid red;
  position: absolute;
  width: 1100px;
}

#header-logo {
  max-height: 60px;
}

#header-text {
  font-size: 20px;
  color: #fff;
}

#header-number {
  font-size: 25px;
  color: var(--primary-color);
}
/* ------------------------------------------------------------------------------------------ */


/* Hero */
/* ------------------------------------------------------------------------------------------ */
#hero {
  background-image: url('http://placehold.jp/1000x500.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
}

#hero-title > span {
  color: var(--primary-color)
}

#hero-copy {
  border: 2px solid red;
}
/* ------------------------------------------------------------------------------------------ */


/* Form */
/* ------------------------------------------------------------------------------------------ */
.form {
  background: var(--primary-color);
  max-width: 360px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 1;
}

.form input {
  border: none;
  background: #f2f2f2;
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

#download-button {
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
  background: var(--main-bg);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
/* ------------------------------------------------------------------------------------------ */


/* Guide */
/* ------------------------------------------------------------------------------------------ */
#guide-section {
  background-color: var(--main-bg);
  color: #fff;
}

#guide-section p {
  color: #fff;
  font-weight: lighter;
}

#guide-heading {
  color: var(--primary-color);
  border: 2px solid red;
}

#guide-bullet-heading {
  color: var(--primary-color);
  display: block;
}
/* ------------------------------------------------------------------------------------------ */


/* About */
/* ------------------------------------------------------------------------------------------ */
#about-section {
  background-color: #fff;
  border: 2px solid red;
}

#about-heading {
  color: var(--primary-color);
}
/* ------------------------------------------------------------------------------------------ */


/* TrsutPilot */
/* ------------------------------------------------------------------------------------------ */
#tp-section-heading {
  color: var(--primary-color);
}

#tp-section {
  background: var(--main-bg);
}
/* ------------------------------------------------------------------------------------------ */


/* Footer */
/* ------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------ */
