/* general */
:root {
  --primary-color: #00FFD9;
  --main-bg: rgb(32,39,41);
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

p {
  font-size: 20px;
}


/* ------------------------------------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------------------------------------ */
#header-section {
  background-color: var(--main-bg);
  color: #fff;
  padding: 45px;
  height: 65px;
  
  
  /* flex properties */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#header-logo {
  max-height: 60px;
}
#header-text {
  display: inline;
  font-size: 20px;
}
#header-text a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-color);
}
/* HEADER END */
/* ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------ */
/* HERO */
/* ------------------------------------------------------------------------------------------ */
#hero-section {
  
  padding: 2em 0;

  /* flex properties */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.hero-item {
  
  width: 50%;
}
#hero-copy {
  font-size: 1.5em;
  font-weight: bold;
  max-width: 575px;
}
#hero-copy h1 {
  font-size: 3em;
  margin-bottom: auto;
  line-height: 1.2;
}
#hero-copy span {
  color: var(--primary-color);
}

/* Form */
/* ------------------------------------------------------------------------------------------ */
#form {
  max-width: 300px;
  background-color: var(--primary-color);
  font-size: 20px;
  padding: 25px;
  text-align: center;
}

form {
  /* flex properties */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

#form h3 {
  font-size: 35px;
  margin-bottom: 0em;
  text-transform: uppercase;
}

#form input {
  padding: 16px;
  font-size: 18px;
  border: none;
  margin-top: 10px;
}

#form button {
  margin: 20px;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--main-bg);
  color: #fff;
  text-transform: uppercase;
}
/* HERO END */
/* ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------ */
/* GUIDE */
/* ------------------------------------------------------------------------------------------ */
#guide-section {
  background-color: var(--main-bg);
  color: #fff;
  padding: 30px
}

#guide-section p {
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}

#guide-heading {
  color: var(--primary-color);
  /*  */
  padding: 30px 0;
}

#guide-bullet-heading {
  color: var(--primary-color);
  display: block;
}
/* GUIDE END */
/* ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------ */
/* ABOUT */
/* ------------------------------------------------------------------------------------------ */
#about-section {
  background-color: #fff;
  padding: 50px 0;
}

#about-heading {
  color: var(--primary-color);
}

#about-section-image {
  width: 100%;
}
/* ABOUT END */
/* ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------ */
/* TRUSTPILOT */
/* ------------------------------------------------------------------------------------------ */
/* @media (max-width: 576px) {
  #tp-section {
    width: 375px;
    margin-left: 0;
  }
} */

#tp-section {
  background: var(--main-bg);
  padding: 50px 0 20px;
}

#tp-section-heading {
  color: var(--primary-color);
  padding-bottom: 10px;
}

#five-star-widget {
  /*  */
  padding-top: 75px;
  position: absolute;
}
/* TRUSTPILOT END */
/* ------------------------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------------------------------------ */
/* @media (max-width: 576px) {
  #footer-section {
    width: 375px;
    margin-left: 0;
  }
} */

#footer-section {
  padding: 30px;
}
/* FOOTER END */
/* ------------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------------ */
/* Media Queries */
/* ------------------------------------------------------------------------------------------ */
@media screen and (max-width: 830px) {
  
  /* header section */
  /* --------------------------- */
  #header-section {
    padding: 40px;  
  } 

  #header-logo {
    max-height: 45px;
    /* margin-top: 10px; */
  }

  #header-text {
    height: 55px;
    margin: 0 auto;
  }

  /* hero section */
  /* --------------------------- */
  .hero-item { 
    padding: 0 30px;
  }

  /* hero copy */
  #hero-copy {
    width: 80%;
  }

  /* form */
  #form {
    margin: 30px 0;
    max-width: 460px;
  }
}

@media screen and (max-width: 688px) {
  #header-section {
    padding: 50px;
  }
  #header-logo {
    margin-top: 23px;
  }
}

@media screen and (max-width: 540px) {
  #header-logo {
    height: 40px;
    margin-top: 4px;
  }

  #header-text {
    max-height: 45px;
    margin: 0 auto;
  }

  #hero-copy h1 {
    margin-bottom: 10px;
  }

  /* form */
  #form {
    width: 100%;
  }
}
/* Media Queries END */
/* ------------------------------------------------------------------------------------------ */
